{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div id="flash-messages" class="absolute container z-50 top-0">
    {% for message in messages %}
    <div role="alert" class="alert alert-error relative mb-2">
        <span>{{ message }}</span>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<h1 class="text-3xl font-bold text-primary mb-6">New Project</h1>
<form action="{{ url_for('admin.add_project') }}" method="post" enctype="multipart/form-data" class="space-y-6">
    <fieldset class="fieldset">
        <legend class="fieldset-legend">Picture</legend>
        <input name="image" type="file" class="file-input w-full" />
    </fieldset>
    <fieldset class="fieldset">
        <legend class="fieldset-legend">Title</legend>
        <input name='name' type="text" class="input w-full" placeholder="Title" />
    </fieldset>
    <fieldset class="fieldset">
        <legend class="fieldset-legend">Demo URL</legend>
        <input name='demo_url' type="text" class="input w-full" placeholder="Demo URL" />
    </fieldset>
    <fieldset class="fieldset">
        <legend class="fieldset-legend">Bio</legend>
        <textarea name="description" class="textarea w-full" placeholder="Description" rows="5"></textarea>
    </fieldset>
    <div class="form-control mt-4">
        <button type="submit" class="btn btn-primary w-full">Save Changes</button>
    </div>
</form>
<script>
    setTimeout(() => {
        const flash = document.getElementById('flash-messages');
        if (flash) {
            flash.remove();
        }
    }, 5000);
</script>
{% endblock content %}