<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-4">
    {% for project in data['projects'] %}
    <div class="card bg-base-100 shadow-md hover:shadow-xl transition">
        <figure>
            <img src="{{ project.image }}" alt="{{ project.name }}" class="object-cover h-48 w-full" height="192"
                width="356" />
        </figure>
        <div class="card-body">
            <h2 class="card-title">{{ project.name }}</h2>
            <p>{{ project.description }}</p>
            {% if project.demo_url %}
            <div class="card-actions justify-end">
                <a href="{{ project.demo_url }}" target="_blank" rel="noopener noreferrer"
                    class="btn btn-sm btn-primary">Demo</a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>