{% extends "base.html" %}
{% block content %}
<form action="{{ url_for('auth.login') }}" method="post"
    class="flex flex-col items-center justify-center h-[calc(100vh-96px)]">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div>
        {% for message in messages %}
        <div role="alert" class="alert alert-error relative">
            <span>{{ message }}</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current cursor-pointer close-alert"
                fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <fieldset class="fieldset w-xs bg-base-200 border border-base-300 p-4 rounded-box">
        <legend class="fieldset-legend">Login</legend>
        <label class="fieldset-label">Email</label>
        <input type="email" name="email" class="input" placeholder="Email" />
        <label class="fieldset-label">Password</label>
        <input type="password" name="password" class="input" placeholder="Password" />
        <button class="btn btn-primary mt-4">Login</button>
    </fieldset>
</form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const closeIcons = document.querySelectorAll('.close-alert');
        closeIcons.forEach(icon => {
            icon.addEventListener('click', function () {
                this.parentElement.remove(); // Removes the alert div
            });
        });
    });
</script>
{% endblock content %}